
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');


/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #f4f4f4;
    min-height: 100vh;
}

/* Main Container */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Content Container */
.content {
    text-align: center;
    padding: 40px;
}

/* Heading Styles */
h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 400;
    color: #333;
}

.gradient-text {
    background: linear-gradient(90deg, #55A7DA, #3B3B8F, #903091, #C61987, #EA0779);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

h4 {
    font-size: 1.8rem;
    margin-bottom: 30px;
    color: #555;
}

/* Form Field Styles */
mat-form-field {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

/* Select Styles */
mat-select {
    width: 100%;
    font-size: 1.4rem;
    color: #333;
}

/* Error Message Styles */
.mat-error {
    color: #f44336; /* Rouge */
    font-size: 1rem;
}

/* Hint Styles */
.mat-hint {
    font-size: 1rem;
    color: #aaa;
}

/* Input Container */
.input-container {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.input-container input {
    flex: 1;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
}

.input-container button {
    background-color: #d1528c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.input-container button:hover {
    background-color: #8b32ca;
}

/* Chat section */
/* CSS pour les messages envoyés par l'utilisateur */
.sent-message {
    text-align: left;
    margin-right: 50%; /* Pour éviter que le texte se superpose avec les messages reçus */
}

/* CSS pour les messages reçus du bot */
.received-message {
    text-align: right;
    margin-left: 50%; /* Pour éviter que le texte se superpose avec les messages envoyés */
}

/* Style des messages *//* Chat Container */
.chat-container {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 20px 0;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Pour cacher le débordement */
    max-width: 100%; /* Pour s'adapter à la largeur de son conteneur parent */
}

/* Scrollable container for messages */
.message-scroll {
    min-height: 50vh;
    max-height: 70vh; /* Utilisation de 70% de la hauteur de la fenêtre */
    max-width: 80vh;
    overflow-y: auto; /* Activation du défilement vertical */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajout d'un contour d'ombre à l'extérieur du conteneur */
}

/* Align user messages to the right and bot messages to the left */
.sent-message {
    text-align: right;
    margin-right: 0; /* Clear default margin */
}

.received-message {
    text-align: left;
    margin-left: 0; /* Clear default margin */
}

/* Style des messages */
.chat-container p {
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    display: inline-block;
    max-width: 80%; /* Ajustement de la largeur maximale des messages */
    text-align: justify; /* Pour justifier le texte */
}

/* Style des messages envoyés par l'utilisateur */
.sent-message p {
    background-color: #EA0779;
    color: white;
}

/* Style des messages reçus du bot */
.received-message p {
    background-color: #55A7DA;
    color: white;
}

/*background*/
body{
    font-family: 'Exo', sans-serif;
}

.context {
    width: 100%;
    position: absolute;
    top:50vh;
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}

.area{
    background: #EE82EE;
    background: -webkit-linear-gradient(to left, #55A7DA, #55A7DA);
    width: 100%;
    height:100vh;
}

.circles{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}