/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #f4f4f4;
    min-height: 100vh;
}

/* Main Container */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4; /* Subtle background */
}

/* Content Container */
.content {
    text-align: center;
    padding: 40px;
}

/* Heading Styles */
h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 400;
    color: #333;
}

.gradient-text {
    background: linear-gradient(90deg, #d1528c, #8b32ca);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

h4 {
    font-size: 1.8rem;
    margin-bottom: 30px;
    color: #555;
}

/* Form Field Styles */
mat-form-field {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

/* Select Styles */
mat-select {
    width: 100%;
    font-size: 1.4rem;
    color: #333;
}

/* Error Message Styles */
.mat-error {
    color: #f44336; /* Rouge */
    font-size: 1rem;
}

/* Hint Styles */
.mat-hint {
    font-size: 1rem;
    color: #aaa;
}

/* Input Container */
.input-container {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.input-container input {
    flex: 1;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
}

.input-container button {
    background-color: #d1528c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.input-container button:hover {
    background-color: #8b32ca;
}

/* Chat section */
/* CSS pour les messages envoyés par l'utilisateur */
.sent-message {
    text-align: left;
    margin-right: 50%; /* Pour éviter que le texte se superpose avec les messages reçus */
}

/* CSS pour les messages reçus du bot */
.received-message {
    text-align: right;
    margin-left: 50%; /* Pour éviter que le texte se superpose avec les messages envoyés */
}

/* Style des messages *//* Chat Container */
.chat-container {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 20px 0;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Pour cacher le débordement */
    max-width: 100%; /* Pour s'adapter à la largeur de son conteneur parent */
}

/* Scrollable container for messages */
.message-scroll {
    min-height: 50vh;
    max-height: 70vh; /* Utilisation de 70% de la hauteur de la fenêtre */
    max-width: 80vh;
    overflow-y: auto; /* Activation du défilement vertical */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajout d'un contour d'ombre à l'extérieur du conteneur */
}

/* Style des messages */
.chat-container p {
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    display: inline-block;
    max-width: 80%; /* Ajustement de la largeur maximale des messages */
    text-align: justify; /* Pour justifier le texte */
}

/* Style des messages envoyés par l'utilisateur */
.sent-message p {
    background-color: #EA0779;
    color: white;
}

/* Style des messages reçus du bot */
.received-message p {
    background-color: #55A7DA;
    color: white;
}


/*background*/


